{
    "presets": [
        "@babel/preset-react", "@babel/preset-env"
    ],
    "plugins": [
        "transform-class-properties",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ],
        "@babel/plugin-syntax-dynamic-import",
        "@babel/transform-runtime"
    ]
  }