.wrap {
    flex: 1;
    display: flex;
    min-width: 1200px;
    height: 100vh;
    min-height: 680px;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
    color: #fff;
}
  
.trigger:hover {
    color: #108ee9;
}
  
.logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
    background-image: url('../../images/logo.jpg');
    background-size: 100% 138%;
    background-repeat: no-repeat;
}
.userImg{
    float: right;
    color: #fff;
    width: 36px;
    height: 36px;
    margin-top: 14px;
    margin-right: 26px;
    border-radius: 10px;
}